<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Joia</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-5">
    <h2>Cadastrar Joia</h2>
    <form method="post" th:action="@{/doProcessSave}" th:object="${joia}" class="mt-4">

        <div class="form-group">
            <label>ID</label>
            <input type="text" th:field="*{id}" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input type="text" th:field="*{nome}" class="form-control" />
            <small class="form-text text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></small>
        </div>

        <div class="form-group">
            <label>Valor</label>
            <input type="text" th:field="*{valor}" class="form-control" />
        </div>

        <div class="form-group">
            <label>Categoria</label>
            <input type="text" th:field="*{categoria}" class="form-control" />
        </div>


        <div class="form-group">
            <label>Pedras</label>
            <input type="text" th:field="*{pedras}" class="form-control" />
        </div>

        <div class="form-group">
            <label>Quantidade</label>
            <input type="number" th:field="*{quantidade}" class="form-control" min="0" />
        </div>


        <button type="submit" class="btn btn-success mt-3">Salvar</button>
    </form>
</div>
</body>
</html>
